* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.response-container {
    background-color: gray;
    color: white;
    margin-top: 2rem;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

input.form-control,
button {
    width: 300px;
}

.won-container {
    margin-top: 2rem;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    font-size: 3rem;
}